## Deliverable 3. Create a Travel Itinerary Map.

In [144]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [145]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame
hotel_df = pd.read_csv("Vacation_Search/hotel_search.csv")
hotel_df.head()

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Kapaa,US,84.20,few clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
1,2,Mataura,NZ,73.31,moderate rain,-46.19,168.86,Ellie's Villa
2,6,Safford,US,78.80,clear sky,32.83,-109.71,SpringHill Suites by Marriott Thatcher
3,18,Busselton,AU,72.00,broken clouds,-33.65,115.33,Observatory Guest House
4,20,Hilo,US,84.20,few clouds,19.73,-155.09,Hilo Hawaiian Hotel

In [146]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """"
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [147]:
# 4a. Add a marker layer for each city to the map.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [148]:
hotel_df = hotel_df[["City", "Country", "Max Temp", "Current Description","Lat", "Lng", "Hotel Name"]].copy()
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,84.20,few clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
1,Mataura,NZ,73.31,moderate rain,-46.19,168.86,Ellie's Villa
2,Safford,US,78.80,clear sky,32.83,-109.71,SpringHill Suites by Marriott Thatcher
3,Busselton,AU,72.00,broken clouds,-33.65,115.33,Observatory Guest House
4,Hilo,US,84.20,few clouds,19.73,-155.09,Hilo Hawaiian Hotel

In [149]:
hotel_df.loc[(hotel_df["City"]=="Acapulco")]

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
16,Acapulco,MX,84.2,scattered clouds,16.86,-99.89,HS Hotsson Smart Acapulco

In [159]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = hotel_df.loc[(hotel_df["City"]=="Nazas")]
vacation_end = hotel_df.loc[(hotel_df["City"]=="Nazas")]
vacation_stop1 = hotel_df.loc[(hotel_df["City"]=="Ixtapa")]
vacation_stop2 = hotel_df.loc[(hotel_df["City"]=="Ojo Caliente")]
vacation_stop3 = hotel_df.loc[(hotel_df["City"]=="Coahuayana")]

In [164]:
vacation_stop3.to_numpy()

array([['Coahuayana', 'MX', 80.73, 'broken clouds', 18.73, -103.68,
        'Hotel Los Arcos']], dtype=object)

In [165]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
end = vacation_end.to_numpy()
stop1 = vacation_stop1.to_numpy()
stop2 = vacation_stop2.to_numpy()
stop3 = vacation_stop3.to_numpy()

In [166]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets



# Latitude-longitude pairs
start = (25.23, -104.13)
end = (25.23, -104.13)
stop1 = (20.7, -105.2)
stop2 = (22.57, -102.25)
stop3 = (18.73, -103.68)

#fig = gmaps.figure() 
#geneva2zurich_via_montreux = gmaps.directions_layer(
 #       geneva, zurich, waypoints=[montreux],
 #       travel_mode='BICYCLING')
#fig.add_layer(geneva2zurich_via_montreux)
#fig
fig = gmaps.figure()
start2end_via_stop1_stop2_stop3 = gmaps.directions_layer(
    start, end, waypoints=[stop1,stop2,stop3],
    travel_mode='DRIVING')
fig.add_layer(start2end_via_stop1_stop2_stop3)
fig

Figure(layout=FigureLayout(height='420px'))

In [167]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Nazas,MX,74.61,clear sky,25.23,-104.13,Hotel Río Nazas
1,Ixtapa,MX,86.00,overcast clouds,20.70,-105.20,Container Inn Puerto Vallarta
2,Ojo Caliente,MX,71.60,few clouds,22.57,-102.25,Hotel Posada del Ángel
3,Coahuayana,MX,80.73,broken clouds,18.73,-103.68,Hotel Los Arcos

In [168]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [207]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(20.0, -100.9), zoom_level=2.0)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))