## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import gmaps

# Import API key
from config1 import weather_api_key
from config1 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,10/25/2020 1:59,22.08,-159.32,84.20,66,20,12.75,few clouds
1,1,Chuy,UY,10/25/2020 2:03,-33.70,-53.46,61.47,97,9,4.09,clear sky
2,2,Mataura,NZ,10/25/2020 2:00,-46.19,168.86,73.31,46,100,14.12,moderate rain
3,3,Mar Del Plata,AR,10/25/2020 2:01,-38.00,-57.56,61.00,100,90,5.82,overcast clouds
4,4,Leningradskiy,RU,10/25/2020 2:03,69.38,178.42,23.86,92,0,9.40,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,10/25/2020 1:59,22.08,-159.32,84.20,66,20,12.75,few clouds
2,2,Mataura,NZ,10/25/2020 2:00,-46.19,168.86,73.31,46,100,14.12,moderate rain
6,6,Safford,US,10/25/2020 2:03,32.83,-109.71,78.80,22,1,3.36,clear sky
18,18,Busselton,AU,10/25/2020 2:03,-33.65,115.33,72.00,48,62,4.00,broken clouds
20,20,Hilo,US,10/25/2020 2:03,19.73,-155.09,84.20,66,20,16.11,few clouds
23,23,Avarua,CK,10/25/2020 2:03,-21.21,-159.78,75.20,73,37,16.11,scattered clouds
25,25,Hithadhoo,MV,10/25/2020 2:01,-0.60,73.08,83.28,73,40,8.57,scattered clouds
27,27,Rikitea,PF,10/25/2020 2:03,-23.12,-134.97,74.89,81,99,20.58,overcast clouds
28,28,Honiara,SB,10/25/2020 2:03,-9.43,159.95,87.80,70,20,9.17,few clouds
31,31,Nouadhibou,MR,10/25/2020 2:03,20.93,-17.03,73.40,69,0,19.46,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.head()

,Unnamed: 0,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,10/25/2020 1:59,22.08,-159.32,84.20,66,20,12.75,few clouds
2,2,Mataura,NZ,10/25/2020 2:00,-46.19,168.86,73.31,46,100,14.12,moderate rain
6,6,Safford,US,10/25/2020 2:03,32.83,-109.71,78.80,22,1,3.36,clear sky
18,18,Busselton,AU,10/25/2020 2:03,-33.65,115.33,72.00,48,62,4.00,broken clouds
20,20,Hilo,US,10/25/2020 2:03,19.73,-155.09,84.20,66,20,16.11,few clouds

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
weather_dataclean_df =preferred_cities_df.dropna()
weather_dataclean_df.head()

,Unnamed: 0,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,10/25/2020 1:59,22.08,-159.32,84.20,66,20,12.75,few clouds
2,2,Mataura,NZ,10/25/2020 2:00,-46.19,168.86,73.31,46,100,14.12,moderate rain
6,6,Safford,US,10/25/2020 2:03,32.83,-109.71,78.80,22,1,3.36,clear sky
18,18,Busselton,AU,10/25/2020 2:03,-33.65,115.33,72.00,48,62,4.00,broken clouds
20,20,Hilo,US,10/25/2020 2:03,19.73,-155.09,84.20,66,20,16.11,few clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = weather_dataclean_df[["City", "Country", "Max Temp", "Current Description","Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,84.20,few clouds,22.08,-159.32,
2,Mataura,NZ,73.31,moderate rain,-46.19,168.86,
6,Safford,US,78.80,clear sky,32.83,-109.71,
18,Busselton,AU,72.00,broken clouds,-33.65,115.33,
20,Hilo,US,84.20,few clouds,19.73,-155.09,
...,...,...,...,...,...,...,...
583,Zhuhai,CN,80.01,few clouds,22.28,113.57,
585,Jacareacanga,BR,72.39,broken clouds,-6.22,-57.75,
586,Ahuimanu,US,87.80,scattered clouds,21.44,-157.84,
587,Mersing,MY,73.40,moderate rain,2.43,103.84,
591,Meulaboh,ID,74.26,overcast clouds,4.14,96.13,

In [8]:
# create hotel_df with hotel name column
hotel_df = pd.DataFrame(weather_dataclean_df, columns=["City", "Country", "Max Temp", "Current Description","Lat", "Lng", "Hotel Name"])
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,84.20,few clouds,22.08,-159.32,NaN
2,Mataura,NZ,73.31,moderate rain,-46.19,168.86,NaN
6,Safford,US,78.80,clear sky,32.83,-109.71,NaN
18,Busselton,AU,72.00,broken clouds,-33.65,115.33,NaN
20,Hilo,US,84.20,few clouds,19.73,-155.09,NaN
...,...,...,...,...,...,...,...
583,Zhuhai,CN,80.01,few clouds,22.28,113.57,NaN
585,Jacareacanga,BR,72.39,broken clouds,-6.22,-57.75,NaN
586,Ahuimanu,US,87.80,scattered clouds,21.44,-157.84,NaN
587,Mersing,MY,73.40,moderate rain,2.43,103.84,NaN
591,Meulaboh,ID,74.26,overcast clouds,4.14,96.13,NaN

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
    }

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,84.20,few clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
2,Mataura,NZ,73.31,moderate rain,-46.19,168.86,Ellie's Villa
6,Safford,US,78.80,clear sky,32.83,-109.71,SpringHill Suites by Marriott Thatcher
18,Busselton,AU,72.00,broken clouds,-33.65,115.33,Observatory Guest House
20,Hilo,US,84.20,few clouds,19.73,-155.09,Hilo Hawaiian Hotel

In [11]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df=hotel_df.dropna()
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,84.20,few clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
2,Mataura,NZ,73.31,moderate rain,-46.19,168.86,Ellie's Villa
6,Safford,US,78.80,clear sky,32.83,-109.71,SpringHill Suites by Marriott Thatcher
18,Busselton,AU,72.00,broken clouds,-33.65,115.33,Observatory Guest House
20,Hilo,US,84.20,few clouds,19.73,-155.09,Hilo Hawaiian Hotel
23,Avarua,CK,75.20,scattered clouds,-21.21,-159.78,Paradise Inn
25,Hithadhoo,MV,83.28,scattered clouds,-0.60,73.08,Scoop Guest House
27,Rikitea,PF,74.89,overcast clouds,-23.12,-134.97,Pension Maro'i
28,Honiara,SB,87.80,few clouds,-9.43,159.95,Heritage Park Hotel
31,Nouadhibou,MR,73.40,clear sky,20.93,-17.03,El Medina

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file)

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))